<td><%= name %></td>
<td><%= description %></td>
<td><%= districtName %></td>

<td><%= code %></td>

<td><a href="#/places/<%= id %>" class='btn btn-primary btn-sm'>Show</td>
<td><a href="#/places/<%= id %>/edit" class='btn btn-primary btn-sm'>Edit</td>
<td><a href="#/places/<%= id %>/destroy" class='destroy btn btn-danger btn-sm'>Destroy</a></td>