<td><%= name %></td>
<td><%= description %></td>
<td><%= code %></td>
<td><a href="#/<%= id %>" class='btn btn-primary btn-sm'>Show</td>
<td><a href="#/<%= id %>/edit" class='btn btn-primary btn-sm'>Edit</td>
<td><a href="#/<%= id %>/destroy" class='destroy btn btn-danger btn-sm'>Delete</td>
