<td><%= name %></td>
<td><%= description %></td>
<td><%= code %></td>
<td><%= stateName %></td>
<td><a href="#/districts/<%= id %>" class='btn btn-primary btn-sm'>Show</td>
<td><a href="#/districts/<%= id %>/edit" class='btn btn-primary btn-sm'>Edit</td>
<td><a href="#/districts/<%= id %>/destroy" class='destroy btn btn-danger btn-sm'>Delete</td>
